

.btn_cceia, .btn_cceia:visited {
    color: inherit;
    text-decoration: none;
 }

 .btn_cceia:hover {
    color: gray;
 }

.btn_cceia:active {
    color: rgb(35, 116, 214);
    text-decoration: none;
 }
