@media (max-width: 411px) {
    .contactEstafetteMassMover {
        padding-top: 60px;
        padding-left: 150px;
        padding-bottom: 10px;
    }

    .contactEstafettePrivacyNotice {
        position: absolute;
        padding-top: 60px;
        padding-left: 75px;
        padding-bottom: 10px;
    }
}

@media (min-width: 412px) {
    .contactEstafetteMassMover {
        padding-top: 60px;
        margin-left: 250px;
        padding-bottom: 10px;
    }

    .contactEstafettePrivacyNotice {
        position: absolute;
        padding-top: 300px;
        margin-left: 60px;
        padding-bottom: 10px;
    }
}
