@media (max-width: 411px) {
    .contactEstafetteMassMover {
        padding-top: 100px;
        padding-left: 150px;
        padding-bottom: 10px;
    }
}

@media (min-width: 412px) {
    .contactEstafetteMassMover {
        padding-top: 140px;
        margin-left: 200px;
        padding-bottom: 10px;
        margin-right: 80px;
    }
}
